<a href="https://colab.research.google.com/github/zzaffd/aaa/blob/main/Week02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 표(table)
* 데이터를 표의 형태로 표현하면 처리하기 편리함

![표1.png]()

## 1.1 데이터를 표로 표현하기

![표2.png]()

## 1.2 데이터들의 모임(DataSet)

![표3.png]())

*목표로 하는 속성을 찾기 위해서 다른 속성들과의 관계를 살펴야 한다. ->속성(열)들이 매우 중요.

## 1.3 Pandas
* **표를 다루는 파이썬 라이브러리**
* Pandas API : <a>https://pandas.pydata.org/docs/reference/index.html</a>

![표4.png]()

# 2 판다스의 자료구조 - 시리즈와 데이터프레임

## 2.1 시리즈(Series)

### 2.1.1 Series 구조
* 1차원 배열 형태

![시리즈1.png]()

### 2.1.2 Series의 생성
* Python의 List나 Dictionary를 이용하여 생성
* **<u>pandas.Series(data, index, name)</u>**

### 2.1.3 Series 만들기 - List이용
* <u>pandas.Series(리스트)</u>

In [ ]:
# 판다스 모듈 임포트 

import pandas as pd

*import pandas as pd - pandas를 import 해서 쓸건데 pandas 대신 pd만 입력해서 import 해올수 있슴.

In [ ]:
# ['커피', '주스', '밀크티']를 data로 가지고
# 'aaa'라는 name을 가지는 시리즈 s1생성

s1=pd.Series(data=['커피', '주스', '밀크티'], name='aaa')

*s1이라는 변수에 시리즈를 담음. 그래서 지금 보이지는 않는 상태.

series를 생성할때 index는 설정 안함. 디폴트인 숫자로 생성됨.

In [ ]:
# s1출력
s1

0     커피
1     주스
2    밀크티
Name: aaa, dtype: object

커피라는 값에 접근할수있는 인덱스는 0 주스는 1 밀크티는 2

셀에 s1만 입력해도 출력이 되긴하는데  예를들어 ㅇㅇㅇ을 입력하고 3번 셀에 s1을 입력한 상태에서 하면 마지막 셀인 ㅇㅇㅇ 만 출력 됨. 그럴때는 print(s1) 로 출력.

![시리즈2.png]()

In [ ]:
# s1 타입 확인

type(s1)

pandas.core.series.Series

s1은 series 라는 것을 확인

### 2.1.4 Series - index, values

In [ ]:
# s1의 인덱스 출력

s1.index

RangeIndex(start=0, stop=3, step=1)

s1에서 인덱스는 0부터 3전까지 1씩 증가한다(3은 포함X)

In [ ]:
# s1의 데이터 출력

s1.values

array(['커피', '주스', '밀크티'], dtype=object)

### 2.1.5 Series - 원하는 데이터 읽기

In [ ]:
# '커피'선택하여 출력하기

s1[0]

'커피'

### 2.1.6 Series 만들기 - index 속성
* <u>pandas.Series(data, index)</u>

In [ ]:
# ['커피', '주스', '밀크티']를 data로 가지고
# ['coffee', 'juice', 'milktea']라는 index를 가지는 시리즈 s1생성

s1= pd.Series(data=['커피', '주스', '밀크티'], index=['coffee', 'juice', 'milktea'])

date= 은 써도되고 안써도됨.

In [ ]:
# s1 출력

s1

coffee      커피
juice       주스
milktea    밀크티
dtype: object

![시리즈3.png]()

In [ ]:
# s1의 index 출력

s1.index

Index(['coffee', 'juice', 'milktea'], dtype='object')

생성한 인덱스 외에도 디폴트 인덱스인 숫자로도 적용가능

In [ ]:
# s1의 values 출력

s1.values

array(['커피', '주스', '밀크티'], dtype=object)

In [ ]:
# '커피'선택하여 출력하기

s1[0]

'커피'

In [ ]:
# '커피'선택하여 출력하기

s1['coffee']

'커피'

### 2.1.7 Series - 원소의 선택

![시리즈4.png]()

숫자인덱스 [0:2] 는 2전까지인 0,1 만
문자인덱스 ['coffee','juice']는 juice까지 포함.

In [ ]:
# 위 그림과 같은 시리즈 s1생성

s1=pd.Series(['커피', '주스', '밀크티'], index=['coffee', 'juice', 'milktea'])

In [ ]:
# s1 출력

s1

coffee      커피
juice       주스
milktea    밀크티
dtype: object

In [ ]:
# '밀크티' 출력

s1[2]

'밀크티'

In [ ]:
# '밀크티' 출력

s1['milktea']

'밀크티'

In [ ]:
# '밀크티' 타입 확인

type(s1['milktea'])

str

인덱스인 milktea의 type이 아니라 value인 밀크티의 type임.
str은 문자열이란 뜻.

In [ ]:
# '밀크티' 타입 확인

type(s1[2])

str

In [ ]:
# '커피', '주스' 선택하여 출력

s1[[0,1]]

coffee      커피
juice       주스
milktea    밀크티
dtype: object

In [ ]:
# '커피', '주스' 선택하여 출력

s1[0:2]

coffee    커피
juice     주스
dtype: object

In [ ]:
# '커피', '주스' 선택하여 출력


s1[['coffee','juice']]

coffee    커피
juice     주스
dtype: object

In [ ]:
# '커피', '주스' 선택하여 출력

s1['coffee':'juice']

coffee    커피
juice     주스
dtype: object

In [ ]:
# '커피', '주스' 선택하여 타입 확인

type(s1['coffee':'juice'])

pandas.core.series.Series

### 2.1.8 Series 연산 - Series와 숫자 연산
* <u>Series객체 + 연산자(+, -, *, /) + 숫자</u>
   - 시리즈 개별 원소에 각각 숫자를 연산하고 결과를 시리즈 객체로 반환한다.

In [ ]:
# data=[30, 45, 12], index=['국어', '영어', '수학']인 시리즈 객체 score1생성

score1=pandas.Series(data=[30,45,12], index=['국어','영어','수학'])

In [ ]:
# score1 확인

score1

국어    30
영어    45
수학    12
dtype: int64

In [ ]:
# score1 시리즈에 숫자 50을 더하여 score2에 대입

score2=score1+50

시리즈 각각의 원소 전부에 연산.

In [ ]:
# score2확인

score2

국어    80
영어    95
수학    62
dtype: int64

### 2.1.9 Series연산 - Series와 Series 연산
* <u>Series객체 + 연산자(+,-,*,/) + Seires객체</u>
  - index를 찾아 정렬한 후 같은 index의 data(value)들을 연산

![시리즈5.png]()

순서가 틀려도 알아서 같은 인덱스끼리 연산됨. 그리고 인덱스의 오름차순으로 정렬됨.(ㄱ ㄴ ㄷ.....)

In [ ]:
# 시리즈 객체 score1 만들기

score1=pd.Series(data=[100,80,90], index=['국어','영어','수학'])

In [ ]:
# score1 확인

score1

국어    100
영어     80
수학     90
dtype: int64

In [ ]:
# 시리즈 객체 score2 만들기

score2=pd.Series([80,90,80], index=['수학','국어','영어'])

In [ ]:
# score2 확인

score2

수학    80
국어    90
영어    80
dtype: int64

In [ ]:
# 시리즈 객체 score1, score2를 더해 add에 대입하기

add=score1+score2

In [ ]:
# add 확인

add

국어    190
수학    170
영어    160
dtype: int64

## 2.2 데이터프레임
* 행과 열로 만들어지는 2차원 배열 구조
* 여러 개의 Series들이 모여서 하난의 DataFrame을 구성
* DataFrame의 열은 각각 Series객체임
* **<u>행과 열을 나타내기 위해 두 가지 종류의 index를 사용</u>**
    - **<u>행인덱스</u>**
    - **<u>컬럼명</u>**
* 열은 공통의 속성을 갖는 일련의 데이터를 나타냄
* 행은 개별 관측대상(observation)에 대한 다양한 속성 데이터들의 모음인 Record임

###2.2.1 DataFrame의 구조

![데이터프레임1.png]()

### 2.2.2 DataFrame의 생성
* Python의 List나 Dictionary를 이용하여 생성
* Series로 생성
* **<u>pandas.DataFrame(data, index, columns)</u>**

### DataFrame 만들기 - Dictionary이용
* 딕셔너리의 키 -> 컬럼명
* 딕셔너리의 값 -> 컬럼데이터

In [ ]:
# 첫번째 컬럼 -> 이름: '제품명', 데이터: '커피','주스','밀크티'
# 두번째 컬럼 -> 이름: '가격', 데이터: 5000, 6000, 6500
# 세번째 컬럼 -> 이름: '판매량', 데이터:60, 45, 30 인 데이터프레임 객체 df만들기

df=pd.DataFrame(data={'제품명':['커피','주스','밀크티'],'가격':[5000,6000,6500],'판매량':[60,45,30]})

In [ ]:
# df 확인

df

   제품명    가격  판매량
0   커피  5000   60
1   주스  6000   45
2  밀크티  6500   30

![데이터프레임2.png]()

In [ ]:
# df의 타입 확인

type(df)

pandas.core.frame.DataFrame

### 2.2.4 DataFrame - index, columns, values, shape, dtypes, info()

In [ ]:
# 데이터프레임의 index?

df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
# 데이터프레임의 columns?

df.columns

Index(['제품명', '가격', '판매량'], dtype='object')

In [ ]:
# 데이터프레임의 데이터?

df.values

array([['커피', 5000, 60],
       ['주스', 6000, 45],
       ['밀크티', 6500, 30]], dtype=object)

In [ ]:
# 데이터프레임이 몇행 몇열?

df.shape

(3, 3)

In [ ]:
# 데이터프레임이 몇행?

df.shape[0]

3

df.shape 값이 (3,3) 인데 그중 0번째 값.

In [ ]:
# 데이터프레임이 몇열?

df.shape[1]

3

In [ ]:
# 데이터프레임의 각 열은 무슨타입?

df.dtypes

제품명    object
가격      int64
판매량     int64
dtype: object

제품명-문자
가격-정수
판매량-정수

In [ ]:
# df는 무슨 타입?

type(df)

pandas.core.frame.DataFrame

In [ ]:
# 데이터프레임의 각 열의 요약정보

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     3 non-null      object
 1   가격      3 non-null      int64
 2   판매량     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

non-null: 유효한 데이터

### 2.2.5 DataFrame - index, columns  변경하기
* 행인덱스 변경: **<u>DataFrame객체.index = [새인덱스리스트]</u>**
* 열 이름 변경: **<u>DataFrame객체.columns = [새컬럼명리스트]</u>**
* 행인덱스 변경: **<u>DataFrame객체.rename(index={기존인덱스명:새인덱스명,...})</u>**
* 열 이름 변경: **<u>DataFrame객체.rename(columns={기존컬럼명:새컬럼명,...})</u>**

  
* 특정 열을 행 인덱스로 설정 : **<u>DataFrame객체.set_index(['열이름'] 또는 '열이름')</u>**
* 행인덱스 초기화 : **<u>DataFrame객체.reset_index()</u>**
    * 행 인덱스를 정수형 위치 인덱스로 초기화한다. 이때 기존 행 인덱스는 열로 이동한다.

In [ ]:
# df 확인

df

   제품명    가격  판매량
0   커피  5000   60
1   주스  6000   45
2  밀크티  6500   30

In [ ]:
# df의 인덱스를 '음료1', '음료2', '음료3'으로 바꾸기

df.index=['음료1','음료2','음료3']

In [ ]:
# df의 컬럼명을 '음료명', '판매가격', '판매수량'으로 바꾸기

df.columns=['음료명','판매가격','판매수량']

In [ ]:
# df의 '음료명'컬럼명을 '제품명'으로 바꾸고, '음료1'인덱스를 'coffee'로 바꾸기

df.rename(columns={'음료명':'제품명'}, index={'음료1':'coffee'})

        제품명  판매가격  판매수량
coffee   커피  5000    60
음료2      주스  6000    45
음료3     밀크티  6500    30

In [ ]:
# df확인 , 변경 안됨

df

        제품명  판매가격  판매수량
coffee   커피  5000    60
음료2      주스  6000    45
음료3     밀크티  6500    30

df=df.rename(columns={'음료명':'제품명'}, index={'음료1':'coffee'}) 

이렇게도 적용가능.

In [ ]:
# inplace=True

df.rename(columns={'음료명':'제품명'}, index={'음료1':'coffee'}, inplace=True)

In [ ]:
# df확인, 변경됨

df

        제품명  판매가격  판매수량
coffee   커피  5000    60
음료2      주스  6000    45
음료3     밀크티  6500    30

In [ ]:
# '제품명' 컬럼을 인덱스로 설정한다.

df.set_index('제품명')

     판매가격  판매수량
제품명
커피   5000    60
주스   6000    45
밀크티  6500    30

In [ ]:
# df확인, 변경안됨

df

        제품명  판매가격  판매수량
coffee   커피  5000    60
음료2      주스  6000    45
음료3     밀크티  6500    30

In [ ]:
# df.set_index('제품명', inplace=True)와 동일한 효과를 내기위해
# df.set_index()한 결과를 df변수에 대입

df.set_index('제품명', inplace=True)

In [ ]:
# df확인

df

     판매가격  판매수량
제품명
커피   5000    60
주스   6000    45
밀크티  6500    30

In [ ]:
# df의 인덱스를 정수형 위치 인덱스로 초기화한다.
# 결과를 df변수에 대입

df.reset_index()

   제품명  판매가격  판매수량
0   커피  5000    60
1   주스  6000    45
2  밀크티  6500    30

In [ ]:
df

     판매가격  판매수량
제품명
커피   5000    60
주스   6000    45
밀크티  6500    30

변하지않음.
아까처럼 inplace=True를 하던가 아니면 
df = df.reset_index()

### 2.2.6 DataFrame - 정렬 : 행인덱스를 기준으로
* **<u>DataFrame객체.sort_index()</u>** : 인덱스를 기준으로 오름차순 정렬
    - ascending=False: 내림차순정렬

In [ ]:
# df 확인

df

   제품명  판매가격  판매수량
0   커피  5000    60
1   주스  6000    45
2  밀크티  6500    30

In [ ]:
# df의 인덱스를 [2, 3, 1]로 변경하기

df.index=[2,3,1]

In [ ]:
# df확인

df

   제품명  판매가격  판매수량
2   커피  5000    60
3   주스  6000    45
1  밀크티  6500    30

In [ ]:
# 인덱스기준으로 오름차순으로 정렬

df.sort_index()

   제품명  판매가격  판매수량
1  밀크티  6500    30
2   커피  5000    60
3   주스  6000    45

In [ ]:
# 인덱스 기준으로 내림차순으로 정렬

df.sort_index(ascending=False)

   제품명  판매가격  판매수량
3   주스  6000    45
2   커피  5000    60
1  밀크티  6500    30

In [ ]:
# df확인, 변경되지 않았음

df

   제품명  판매가격  판매수량
2   커피  5000    60
3   주스  6000    45
1  밀크티  6500    30

In [ ]:
# df의 인덱스를 'b', 'a', 'c'로 변경

df.index=['b','a','c']

index 변경은 바로 적용돼서 바뀜.

In [ ]:
# 인덱스기준으로 오름차순으로 정렬

df.sort_index()

   제품명  판매가격  판매수량
a   주스  6000    45
b   커피  5000    60
c  밀크티  6500    30

In [ ]:
# 인덱스기준으로 내림차순으로 정렬

df.sort_index(ascending=False)

   제품명  판매가격  판매수량
c  밀크티  6500    30
b   커피  5000    60
a   주스  6000    45

In [ ]:
# df확인, 변경되지 않았음

df

   제품명  판매가격  판매수량
b   커피  5000    60
a   주스  6000    45
c  밀크티  6500    30

### 2.2.7 DataFrame - 정렬 : 특정열의 값을 기준으로
* **<u>DataFrame객체.sort_values(by='정렬기준컬럼명')</u>** : by컬럼을 기준으로 오름차순 정렬
    - ascending=False: 내림차순정렬

In [ ]:
# df확인

df

   제품명  판매가격  판매수량
b   커피  5000    60
a   주스  6000    45
c  밀크티  6500    30

In [ ]:
# '제품명'을 기준으로 오름차순 정렬

df.sort_values(by='제품명')

   제품명  판매가격  판매수량
c  밀크티  6500    30
a   주스  6000    45
b   커피  5000    60

by= 은 생략가능.

In [ ]:
# df확인, 변경되지 않았음

df

   제품명  판매가격  판매수량
b   커피  5000    60
a   주스  6000    45
c  밀크티  6500    30

In [ ]:
# '제품명'을 기준으로 내림차순 정렬

df.sort_values('제품명', ascending=False)

   제품명  판매가격  판매수량
b   커피  5000    60
a   주스  6000    45
c  밀크티  6500    30

In [ ]:
# '판매가격'컬럼을 선택(시리즈객체)하여 정렬

df['판매가격'].sort_values()

b    5000
a    6000
c    6500
Name: 판매가격, dtype: int64

In [ ]:
# df확인

df

   제품명  판매가격  판매수량
b   커피  5000    60
a   주스  6000    45
c  밀크티  6500    30

In [ ]:
# 주스를 커피로 변경

df.iloc[1, 0]='커피'
df

   제품명  판매가격  판매수량
b   커피  5000    60
a   커피  6000    45
c  밀크티  6500    30

In [ ]:
# '제품명'과 '판매수량'을 기준으로 오름차순 정렬

df.sort_values(['제품명','판매수량'])

   제품명  판매가격  판매수량
c  밀크티  6500    30
a   커피  6000    45
b   커피  5000    60

In [ ]:
df

   제품명  판매가격  판매수량
b   커피  5000    60
a   커피  6000    45
c  밀크티  6500    30

제품명을 기준으로 오름차순 정렬을 하고, 제품명이 같다면 판매수량을 기준으로 오름차순 정렬

In [ ]:
# '제품명'과 '판매수량'을 기준으로 내림차순 정렬

df.sort_values(['제품명','판매수량'], ascending=False)

   제품명  판매가격  판매수량
b   커피  5000    60
a   커피  6000    45
c  밀크티  6500    30

In [ ]:
# '제품명'은 오름차순, '판매수량'은 내림차순으로 정렬

df.sort_values(['제품명','판매수량'],ascending=[True,False])

   제품명  판매가격  판매수량
c  밀크티  6500    30
b   커피  5000    60
a   커피  6000    45

### 2.2.8 DataFrame 연산 - DataFrame 과 숫자연산
* <u>DataFrame객체 + 연산자(+, -, *, /) + 숫자  </u>
    - 데이터프레임 개별 원소에 각각 숫자를 연산하고 결과를 데이터프레임객체로 반환한다.

In [ ]:
# 첫번째 컬럼명 -> '국어', 데이터: 80, 63, 77
# 두번째 컬럼명 -> '영어', 데이터: 90, 20, 55 인 데이터프레임 객체 df1 만들기

df1=pd.DataFrame({'국어':[80,63,77],'영어':[90,20,55]})

In [ ]:
# df1에 숫자 10 더하기

df1+10

   국어   영어
0  90  100
1  73   30
2  87   65

###  2.2. 9 DataFrame 연산 - DataFrame과 DataFrame 연산
* <u>DataFrame객체 + 연산자(+,-,*,/)  + DataFrame객체</u>
     - 
index를 찾아 정렬한 후 같은 index의 data(value)들을 연산

In [ ]:
# df1 확인

df1

   국어  영어
0  80  90
1  63  20
2  77  55

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국어      3 non-null      int64
 1   영어      3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

In [ ]:
# numpy 임포트

import numpy as np

In [ ]:
# 첫번째 컬럼명 -> '국어', 데이터: 70, 83, 47
# 두번째 컬럼명 -> '영어', 데이터: NaN, 90, 78 
# 세번째 컬럼명 -> '수학', 데이터: 90, 20, NaN 인 데이터프레임 객체 df2 만들기

df2=pd.DataFrame({'국어':[70,83,47], 
              '영어':[np.nan,90,78],
              '수학':[90,20,np.nan]})
df2

   국어    영어    수학
0  70   NaN  90.0
1  83  90.0  20.0
2  47  78.0   NaN

nan은  float 타입이기때문에 영어,수학 점수는 디폴트로 소수점 붙음.

NaN = Not a Number(누락데이터 ,결측치)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국어      3 non-null      int64
 1   영어      2 non-null      float64
 2   수학      2 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes

In [ ]:
df1

   국어  영어
0  80  90
1  63  20
2  77  55

In [ ]:
# df1 + df2

df1 + df2

    국어  수학     영어
0  150 NaN    NaN
1  146 NaN  110.0
2  124 NaN  133.0

df1에 수학 항목이 없기때문에 df1+df2에서의 수학 값도 전부 nan

df1+df2의 (0,2) 번째 값도 NaN과 90이 더해졌으므로 NaN

NaN과 연산한값은 전부 NaN